# Cache
__pycache__/

# Mac OS metadata file
.DS_Store

# VSCode
*.code-workspace
.vscode/

# pdf
*.pdf

# Certain projects have repositories of their own.
Programmering\ och\ Systemering/Seminar4/
Programmering\ och\ Systemering/Seminar5/lektion5/
Programmering\ och\ Systemering/Seminar7/lektion7/ 