# Mac OS metadata file
*.DS_Store

# VSCode
*.code-workspace


# Certain projects have repositories of their own.

#
# -- Programmering och Systemering --
#
Programmering\ och\ Systemering/Seminar4/
Programmering\ och\ Systemering/Seminar5/
Programmering\ och\ Systemering/Seminar7/
Programmering\ och\ Systemering/Seminar9/
Programmering\ och\ Systemering/Seminar10/
Programmering\ och\ Systemering/Seminar12/
Programmering\ och\ Systemering/Seminar12/
Programmering\ och\ Systemering/Examination/
Programmering\ och\ Systemering/Examples/stuff.txt


#
#  -- Programmering i Python --
#
.Programmering\ i\ Python/

#
# --  Databashantering
#
Databashantering/exam/

#
# -- Projektmetodik och Agila Metoder
#
Agila\ Metoder\ och\ Projectmetodik/404notfound/
Agila\ Metoder\ och\ Projectmetodik/*.pptx
Agila\ Metoder\ och\ Projectmetodik/*.pdf

#
# -- Programmering i Java
#
Programmering i Java/devops20_java/


#
# -- Windows Server
#
Windows\ Server/scenarielab/osthyvel/.env

#
# -- Linux
#

#
# -- LAN
#
LAN/*.pdf

# Why is this a thing?
LAN/day1/1. Exploring the network.pdf
LAN/day1/2. Network Protocols and Communications.pdf
LAN/day1/3. Network Access.pdf

#
# -- IT Säkerhet
#

#
# -- Linux 2
#
Linux\ 2/group/
