apiVersion: 1
datasources:
- name: Prometheus
  id: 1
  orgId: 1
  type: prometheus
  access: proxy
  url: "{{ hostvars['prometheus']['ansible_all_ipv4_addresses'][1] }}:9090"
  password: ''
  user: ''
  database: ''
  basicAuth: false
  isDefault: true
  jsonData: {
    httpMethod: GET
  }
  readOnly: false

